@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.bg-detail {
    background-color: rgba(255,255,255, 0.7);
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-back {
    background-color: rgb(243, 253, 95);
    border: none;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    transition: all .4s ease;
}

.btn-back:hover {
    scale: 1.07;
}

.bg-detail img {
    max-width: 450px;
    max-height: 300px;
    border-radius: 20% 0%;
    border-top: solid 0.7rem rgb(210, 160, 75);
    border-bottom: solid 0.7rem rgba(210, 160, 75);
}

.bg-detail h2 {
    font-size: 30px;
}

.bg-detail li {
    line-height: 25px;
}
