@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.card {
    background-color:rgb(255, 251, 197);
    max-width: 320px;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease-in-out;
}

.card:hover {
    scale: 1.06;
}

.card img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 20%  0%;
    border-top: solid 0.7rem rgb(210, 160, 75);
    border-bottom: solid 0.7rem rgba(210, 160, 75);
}

:link {
    text-decoration: none;
}

ul {
    text-align: center;
    list-style: none;
    margin-left: -40px;
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: rgb(158 116 45);
    line-height: 2rem; 
}
