@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.card {
    background-color: rgb(255, 251, 197);
    max-width: 320px;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 550px;
    transition: all .5s ease;
}

.card:hover {
    scale: 1.06;
}

.card img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 20% 0%;
    border-top: solid 0.7rem rgb(210, 160, 75);
    border-bottom: solid 0.7rem rgba(210, 160, 75);
}

:link {
    text-decoration: none;
}

ul {
    text-align: center;
    list-style: none;
    margin-left: -40px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: rgb(118, 87, 33);
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: rgb(158 116 45);
    line-height: 2rem;
}

span {
    font-family: 'Shrikhand', cursive;
    color: rgb(66, 11, 32);
    font-size: 25px;
}