@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.bg-landing {
    background-image: url('../../imgs/bg-landing.jpg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.bg-black{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 4rem;
}
h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
    color: rgb(90, 6, 6);
}
.btn-yellow {
    font-size: 1.3rem;
    border: none;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    background-color: rgb(255, 172, 6);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0.5rem;
    transition: all .3s ease-in-out;
}

.btn-yellow:hover{
    background-color: rgb(255, 115, 0);
    color: #fff;
}
